<menu>
	<category>$root.CATEGORY1</category>
	<menupositions>
		#foreach($menuposition in $root.ITEMLOOP1)
		<menuposition>
			<id>$menuposition.ID3</id>
			<name>$menuposition.NAME3</name>
			<description>$menuposition.DESC3</description>
			<price>$menuposition.PRICE3</price>
		</menuposition>
	#end	
	</menupositions>
</menu>